
.alert {
  background-color: #152238;
  color: white;
  position: fixed; 
  padding: 1rem 3rem;
  top: 5%;
  right: 5%; 
  font-size: 16px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 0.5s forwards;
  overflow: hidden; 
  z-index: 999;
}

@keyframes slideIn {
  from {
    right: -100%; 
  }
  to {
    right: 5%; 
  }
}

.alert-success {
    background-color: #28a745;
  }
  
  .alert-danger {
    background-color: #dc3545; 
  }
  